@{
    ViewBag.Title = "bode-后台管理系统";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .nav-tabs {
        height: 40px;
    }

        .nav-tabs > li {
            height: 40px;
        }

        .nav-tabs li a i {
            margin: 0 -10px 0 5px;
            cursor: pointer;
            display: none;
        }

        .nav-tabs .active {
            border-top: 0;
            border-bottom: 1px solid #ef694b;
        }
</style>
<!-- Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <img src="~/Content/images/logo.png" alt="" />
                    </small>
                </a>
            </div>
            <!-- /Navbar Barnd -->
            <!-- Sidebar Collapse -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>
            <!-- /Sidebar Collapse -->
            <!-- Account Area and Settings --->
            <div class="navbar-header pull-right">
                <div class="navbar-account">
                    <ul class="account-area">
                        <li>
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                <div class="avatar" title="View your public profile" style="border-left-width:0;margin-right:5px;">
                                    <img src="/Content/images/user.png" />
                                </div>
                                <section style="margin-top: 6px;">
                                    <h2><span class="profile"><span>@ViewBag.User.UserName</span></span></h2>
                                </section>
                            </a>
                            <!--Login Area Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                <li class="username"><a>@ViewBag.User.UserName</a></li>
                                <li class="email"><a>@ViewBag.User.Email</a></li>
                                <!--Avatar Area-->
                                <!--Avatar Area-->
                                <li class="edit">
                                    <a href="javascript:changePassword()" class="pull-right">修改密码</a>
                                </li>
                                <!--Theme Selector Area-->
                                <li class="theme-area">
                                    <ul class="colorpicker" id="skin-changer">
                                        <li><a class="colorpick-btn" href="#" style="background-color:#5DB2FF;" rel="~/Content/css/skins/blue.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#2dc3e8;" rel="~/Content/css/skins/azure.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#03B3B2;" rel="~/Content/css/skins/teal.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#53a93f;" rel="~/Content/css/skins/green.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#FF8F32;" rel="~/Content/css/skins/orange.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#cc324b;" rel="~/Content/css/skins/pink.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#AC193D;" rel="~/Content/css/skins/darkred.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#8C0095;" rel="~/Content/css/skins/purple.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#0072C6;" rel="~/Content/css/skins/darkblue.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#585858;" rel="~/Content//css/skins/gray.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#474544;" rel="~/Content/css/skins/black.min.css"></a></li>
                                        <li><a class="colorpick-btn" href="#" style="background-color:#001940;" rel="~/Content/css/skins/deepblue.min.css"></a></li>
                                    </ul>
                                </li>
                                <!--/Theme Selector Area-->
                                <li class="dropdown-footer">
                                    <a href="@Url.Action("SignOut")">
                                        退出登录
                                    </a>
                                </li>
                            </ul>
                            <!--/Login Area Dropdown-->
                        </li>
                        <!-- /Account Area -->
                    </ul>
                </div>
            </div>
            <!-- /Account Area and Settings -->
        </div>
    </div>
</div>
<!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Sidebar -->
        <div class="page-sidebar" id="sidebar">
            <!-- Page Sidebar Header-->
            <div class="sidebar-header-wrapper">
            </div>
            <!-- /Page Sidebar Header -->
            <!-- Sidebar Menu -->
            <ul id="navMenus" class="nav sidebar-menu">
                <!--UI Elements-->

            </ul>
            <!-- /Sidebar Menu -->
        </div>
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="widget flat radius-bordered" style="margin:0">

                        <div class="widget-body" style="padding:0">
                            <div class="widget-main ">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs tabs-flat" id="tab">
                                        <li onclick="tabClick(this)" class="active">
                                            <a data-toggle="tab" href="#Index">
                                                首页
                                            </a>
                                        </li>
                                        <li class="dropdown" style="float:right">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                操作选项
                                                <b class="caret" style="margin-bottom: 4px;"></b>
                                            </a>

                                            <ul class="dropdown-menu dropdown-info">
                                                <li>
                                                    <a href="javascript:refresh()">刷新当前页</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:closeLeft()">关闭左侧</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:closeRight()">关闭右侧</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:closeAll()">关闭全部</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div id="content" class="tab-content tabs-flat" style="background: #eee;padding:0">
                                        <div id="Index" class="tab-pane in active">
                                            @{
                                                if (ViewBag.User.UserType == Bode.Services.Core.Models.Identity.UserType.系统用户)
                                                {
                                                    <iframe frameborder="0" src="@Url.Action("Welcome", "Home", new {area = "Admin"})" style="width: 100%; height: 100%;"></iframe>
                                                }
                                                else
                                                {
                                                    <iframe frameborder="0" src="@Url.Action("Welcome", "Home", new {area = "Channel"})" style="width: 100%; height: 100%;"></iframe>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                </div>
            </div>
        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>
<div id="modal" style="display:none;">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div id="horizontal-form">
                <form class="form-horizontal" role="form" id="form1"
                      data-bv-message="This value is not valid"
                      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="form-group">
                        <label for="oldPassword" class="col-sm-2 control-label no-padding-right">原密码：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="oldPassword" name="oldPassword"
                                   data-bv-notempty="true" data-bv-notempty-message="原密码不能为空">
                        </div>
                    </div>
                    <hr class="wide" />
                    <div class="form-group">
                        <label for="newPassword" class="col-sm-2 control-label no-padding-right">新密码：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newPassword" name="newPassword"
                                   data-bv-notempty="true" data-bv-notempty-message="新密码不能为空">
                        </div>
                    </div>
                    <hr class="wide" />
                    <div class="form-group">
                        <label for="confirmPassword" class="col-sm-2 control-label no-padding-right">确认密码：</label>
                        <div class="col-sm-10" id="area">
                            <input type="text" class="form-control" id="confirmPassword" name="confirmPassword"
                                   data-bv-notempty="true" data-bv-notempty-message="确认密码不能为空"
                                   data-bv-identical="true" data-bv-identical-field="newPassword" data-bv-identical-message="两次输入密码不一致">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section footer{
    <script type="text/javascript" src="~/Content/js/toastr/toastr.js"></script>
    <script type="text/javascript" src="~/Content/js/bootbox/bootbox.js"></script>
    <script type="text/javascript" src="~/Content/js/validation/bootstrapValidator.js"></script>
    <script type="text/javascript">
        //浏览器窗口变化时改变frame的宽高
        window.onresize = function () {
            $("#content").children("div").width(document.body.clientWidth - 224);
            $("#content").children("div").height(document.body.scrollHeight - 85 - 5);
        }

        function refresh() {
            var activeFrame = $("#content .active iframe");
            activeFrame.attr('src', activeFrame.attr('src'));
            return false;
        }

        function closeLeft() {
            var index = $("#tab .active").index();
            $("#tab>li:lt(" + index + ")").each(function (i, e) {
                if (i == 0) return true;
                var target = $(e).children("a").attr("href");
                $(e).remove();
                $(target).remove();
            });
        }

        function closeRight() {
            var index = $("#tab .active").index();
            $("#tab>li:gt(" + index + ")").each(function (i, e) {
                if ($(e).hasClass("dropdown")) return true;
                var target = $(e).children("a").attr("href");
                $(e).remove();
                $(target).remove();
            });
        }

        function closeAll() {
            $("#tab>li").each(function (i, e) {
                if ($(e).hasClass("dropdown") || i == 0) return true;
                var target = $(e).children("a").attr("href");
                $(e).remove();
                $(target).remove();
            });
            $("#tab>li:eq(0)>a").tab("show");
        }

        //修改密码弹出框
        function changePassword() {
            //弹出框F
            bootbox.dialog({
                message: $("#modal").html(),
                title: "更改密码",
                className: "modal-blue",
                buttons: {
                    success: {
                        label: "保存",
                        className: "btn-blue",
                        callback: function () {
                            var oldPassword = $(".modal-dialog").find("input:eq(0)").val();
                            var newPassword = $(".modal-dialog").find("input:eq(1)").val();
                            var newPasswordcomfirm = $(".modal-dialog").find("input:eq(2)").val();

                            if (oldPassword === "") {
                                alert("原密码不能为空");
                                return false;
                            }
                            if (newPassword === "") {
                                alert("新密码不能为空");
                                return false;
                            }
                            if (newPassword === newPasswordcomfirm) {
                                $.post("@Url.Action("UpdatePassword")", { oldPassword: oldPassword, newPassword: newPassword }, function (data) {
                                    if (data.Type === "Success") {
                                        Notify(data.Content, 'bottom-right', '5000', 'info', 'fa-envelope', true);
                                    } else {
                                        Notify(data.Content, 'bottom-right', '5000', 'danger', 'fa-bolt', true);
                                    }
                                });
                            } else {
                                alert("两次密码输入不一致");
                                return false;
                            }

                        }
                    },
                    "取消": {
                        className: "btn-danger",
                        callback: function () { }
                    }
                }
            });

            $('.modal-dialog form').bootstrapValidator({
                excluded: [':disabled']
            });
        }
        //关闭当前tab
        function closeTab(oObj) {
            //获取前一个tab的序号
            var prevIndex = $(oObj).closest("li").index() - 1;

            var contentId = $(oObj).closest("a").attr("href");
            $(contentId).remove();
            $(oObj).closest("li").remove();

            var prevLi = $("#tab li:eq(" + prevIndex + ")");
            prevLi.click();
            prevLi.find("a").tab("show");

            return false;
        }

        //tab点击事件
        function tabClick(oObj) {
            if ($(oObj).hasClass("active")) return;

            $("#tab .fa-times-circle").remove();

            if ($(oObj).index() > 0) {
                $('<i onclick="closeTab(this)" class="fa fa-times-circle"></i>').appendTo($(oObj).find("a"));
            }
        }


        $(function () {
            //重写内容页的宽高
            $("#content").children("div").width(document.body.clientWidth - 224);
            $("#content").children("div").height(document.body.scrollHeight - 85 - 5);

            $.post("@Url.Action("GetMenus")", {}, function (data) {
                //添加菜单栏
                for (var i = 0, len = data.length; i < len; i++) {
                    var groupMenu = $('<li ' + (i === 0 ? 'class="active"' : '') + '><a href="#" class="menu-dropdown"><i class="menu-icon fa ' + data[i]["IconCls"] + '"></i><span class="menu-text"> ' + data[i].Text +
                        ' </span><i class="menu-expand"></i></a><ul class="submenu"></ul></li>');
                    for (var j = 0, len2 = data[i].Children.length; j < len2; j++) {
                        var theItem = data[i].Children[j];
                        $('<li><a href="javascript:void(0)" data-menuId=' + theItem.Id + ' data-href=' + theItem.Url
                            + '><span class="menu-text">' + theItem.Text + '</span></a></li>').appendTo(groupMenu.find('.submenu'));
                    }
                    $("#navMenus").append(groupMenu);
                }

                //绑定左侧菜单栏点击事件
                $("#navMenus>li").each(function () {
                    $(this).click(function () {
                        if (!$(this).find(".submenu").is(":hidden")) {
                            $(this).find(".submenu").slideUp();
                            $(this).removeClass("open");
                            $("#navMenus>li").removeClass("active");
                            $(this).addClass("active");
                        } else {
                            var activeMenu = $(".submenu:visible");
                            if (activeMenu.find(".active").length > 0) {
                                activeMenu.closest("li").addClass("active");
                            }
                            activeMenu.slideUp();
                            $(this).find(".submenu").slideDown();
                            $("#navMenus .open").removeClass("open");
                            $(this).addClass("open");
                        }
                        return false;
                    });
                });

                $("#navMenus .submenu").find("a[data-href]").each(function () {
                    $(this).click(function () {
                        $("#navMenus .active").removeClass("active");
                        $(this).closest("li").addClass("active");

                        //添加tab
                        var menuId = $(this).attr("data-menuId");
                        if ($("#" + menuId).length > 0) {
                            var index = $("#" + menuId).index();
                            var tab = $("#tab").find("li:eq(" + index + ")");
                            tab.click();
                            tab.find("a").tab("show");
                            var tabFrame = $(tab.find("a").attr("href")).find("iframe");
                            //如果frame有跳转，点击菜单刷新frame
                            if (tabFrame.get(0).contentWindow.location.href.indexOf($(this).attr("data-href"))===-1) {
                                tabFrame.attr("src", $(this).attr("data-href"));
                            }
                        } else {
                            var newTab = $('<li onclick="tabClick(this)" ><a data-toggle="tab" href="#' + menuId + '">' + $(this).text() + '</a></li>');
                            $("#tab").find(".dropdown").before(newTab);

                            $('<div id="' + menuId + '" class="tab-pane"><iframe frameborder="0" src="' + $(this).attr("data-href") + '" style="width: 100%; height: 100%;"></iframe></div>')
                                .width(document.body.clientWidth - 224).height(document.body.scrollHeight - 85 - 5).appendTo($("#content"));
                            newTab.click();
                            newTab.find("a").tab("show");
                        }
                        return false;
                    });

                    //打开第一个菜单
                    $("#navMenus .active .submenu").slideDown();
                    $("#navMenus .active").addClass("open");
                });
            });
        });
    </script>
}