@{
    ViewBag.Title = "系统角色列表";
    Layout = "~/Areas/Admin/Views/Shared/_DataGridLayout.cshtml";
    ViewBag.GridDataUrl = Url.Action("GetRoleData");
    ViewBag.SaveUrl = Url.Action("SaveRoleData");
    ViewBag.DeleteUrl = Url.Action("DeleteRoles");
}

@section customScript
{
    <script src="~/Content/js/osharp/osharp.treeview.js"></script>
    <script type="text/javascript">
        var controllers = [], actions = [];
        var controllerActionMap = {}, actionIdMap = {};
        var curRoleId = 0;

        $(function() {
            //获取所有角色数据
            $.get("@Url.Action("GetAllActionBriefs")", {}, function(data) {
                actions = data;

                for (var i = 0, n = actions.length; i < n; i++) {
                    var actionName = actions[i]["IsController"] ? actions[i]["Name"] + "(控制器)" : actions[i]["IsMenu"] ? actions[i]["Name"] + "(菜单)" : actions[i]["Name"];

                    $('<div class="col-sm-4"><div class="checkbox"><label><input type="checkbox" value="' + actions[i]["Id"] +
                        '"><span class="text">' + actionName + '</span></label></div></div>').appendTo($("#actionContent"));

                    //默认未选中
                    actions[i]["Checked"] = false;

                    //初始化organizRole哈希表
                    if (typeof (controllerActionMap[actions[i]["ControllerId"]]) === "undefined") {
                        controllerActionMap[actions[i]["ControllerId"]] = [];
                    }
                    controllerActionMap[actions[i]["ControllerId"]].push(actions[i]);
                    //初始化roleIdMap方便查找
                    actionIdMap[actions[i]["Id"]] = actions[i];
                }
            });
            //获取所有组织机构数据
            $.get("@Url.Action("GetControllers")", {}, function(data) {
                controllers = data;
            });
        });

        //根据func的状态初始化复选框
        function initFuncSelect() {
            $('.modal-dialog :checkbox').each(function() {
                var actionId = $(this).val();
                $(this).attr("checked", actionIdMap[actionId]["Checked"]);
            });
        }

        //设置角色点击事件
        function setFunction(roleId) {
            //弹出框
            bootbox.dialog({
                message: $("#modal").html(),
                title: "设置功能",
                className: "modal-blue",
                buttons: {
                    success: {
                        label: "保存",
                        className: "btn-blue",
                        callback: function() {
                            var funcIds = [];
                            $('.modal-dialog :checkbox:checked').each(function() {
                                funcIds.push($(this).val());
                            });
                            $.post("@Url.Action("SetRoleFunctions")", { roleId: roleId, strFuncIds: JSON.stringify(funcIds) }, function(data) {
                                if (data.Type === "Error") {
                                    Notify(data.Content, 'bottom-right', '5000', 'danger', 'fa-bolt', true);
                                } else {
                                    Notify(data.Content, 'bottom-right', '5000', 'info', 'fa-envelope', true);
                                }
                            });
                        }
                    },
                    "取消": {
                        className: "btn-danger",
                        callback: function() {}
                    },
                    "全选": {
                        className: "btn-sky",
                        callback: function() {
                            $('.modal-dialog :checkbox:visible').each(function() {
                                if (!$(this).is(":checked")) {
                                    $(this).click();
                                }
                            });

                            return false;
                        }
                    },
                    "反选": {
                        className: "btn-magenta",
                        callback: function() {
                            $('.modal-dialog :checkbox:visible').each(function () {
                                $(this).click();
                            });

                            return false;
                        }
                    }
                }
            });
            $(".modal-dialog").width(document.body.clientWidth - 224 * 3);

            //初始化复选框状态
            if (curRoleId !== roleId) {
                for (var i = 0, n = actions.length; i < n; i++) {
                    actions[i]["Checked"] = false;
                }

                $.get("@Url.Action("GetRoleFuncIds")", { roleId: roleId }, function(data) {
                    for (var i = 0, n = data.length; i < n; i++) {
                        actionIdMap[data[i]]["Checked"] = true;
                    }
                    initFuncSelect();
                });
            } else {
                initFuncSelect();
            }
            curRoleId = roleId;

            //绑定树
            var tree = new $.osharp.Treeview(".modal-dialog .col-xs-4 .widget-body .tree", {
                source: controllers,
                itemSelect: function(item) {
                    $('.modal-dialog').find(".widget-body .col-sm-4").hide();
                    var curFuncs = controllerActionMap[item.value] || [];
                    for (var i = 0, n = curFuncs.length; i < n; i++) {
                        $('.modal-dialog :checkbox[value="' + curFuncs[i]["Id"] + '"]').closest(".col-sm-4").show();
                    }
                }
            });

            //添加复选框点击事件
            $('.modal-dialog :checkbox').click(function() {
                var actionId = $(this).val();
                actionIdMap[actionId]["Checked"] = $(this).is(":checked");
            });
        }

        columns = [
            { data: "Id", title: "编号" },
            { data: "Name", title: "角色名称", type: "text", search: true, editor: {}, validation: { required: true } },
            { data: "IsAdmin", title: "是否管理员", type: "switch", search: true, editor: {} },
            { data: "IsLocked", title: "是否锁定", type: "switch", search: true, editor: {} },
            {
                data: "CreatedTime",
                title: "创建时间",
                type: "timepicker",
                search: true,
                format: function(d) {
                    return $.osharp.tools.formatDate(d);
                },
                isformatval: true
            },
            { data: "OrganizationId", title: "组织机构编号", type: "hide" },
            {
                data: "Id",
                title: "操作选项",
                type: "opt",
                format: function(id) {
                    return '<a href="javascript:setFunction(' + id + ')">设置功能</a>';
                }
            }
        ];

        startfunction = function() {
            var tabArea = $(".page-body>.row>div");
            tabArea.attr("class", "col-xs-8 col-md-9 col-lg-10");
            tabArea.before($("#tree"));
            $("#tree .widget-body").height(document.body.scrollHeight - 140);

            //UITree.init();
            var tree = new $.osharp.Treeview("#treeContent", {
                ajax: "@Url.Action("GetOrganizationTree")",
                itemSelect: function(item) {
                    dataTable.conf.ajax = "@ViewBag.GridDataUrl?organizationId=" + item.value;

                    dataTable.beforeEdit = function(index, row) {
                        row.OrganizationId = item.value;
                    }
                    dataTable.reload();
                }
            });
        }
    </script>
}

@section headHtml{
    <div id="tree" class="col-xs-4 col-md-3 col-lg-2">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-info">
                <span class="widget-caption">组织机构</span>
            </div>
            <div class="widget-body" style="overflow-y: auto;">
                <div id="treeContent" class="tree tree-solid-line">

                </div>
            </div>
        </div>
    </div>


<div id="modal" style="display:none;">
    <div class="row">
        <div id="controllerTree" class="col-xs-4">
            <div class="widget flat radius-bordered">
                <div class="widget-header bg-info">
                    <span class="widget-caption">控制器</span>
                </div>

                <div class="widget-body">
                    <div id="controllerContent" class="tree tree-solid-line">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-8">
            <div class="widget flat radius-bordered">
                <div class="widget-header bg-info">
                    <span class="widget-caption">功能组</span>
                </div>
                <div class="widget-body">
                    <div id="actionContent" class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

